* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}









body {
  font-family: 'Arial', sans-serif;
  background-color: #0d1117;
  color: #c9d1d9;
  line-height: 1.2;
}











.header {
  background-color: #161b22;
  margin-bottom: 30px;
  padding: 10px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}












.logo-container {
  display: flex;
  align-items: center;
}

.logo-container .logo-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  overflow: hidden;
}












.nav-container {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}

.nav-item a {
  color: #c9d1d9;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.nav-item a:hover {
  color: #1f6feb;
}










.intro {
  text-align: left;
  transform: none;
  color: #c9d1d9;
  margin: 40px;
  margin-top: 0px; 
  margin-right: 25px;
  font-size: 16px;
  white-space: nowrap; 
}

.intro p {
  text-align: left;
  transform: none;
  color: #c9d1d9;
  margin-top: 20px; 
  margin-right: 25px;
  font-size: 17px;
  white-space: nowrap; 
}











.profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px;
}


.profile-image {
  flex-shrink: 0; 
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 40px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-image:hover {
  transform: translateY(5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  background-color: #3a3a3a;
  border: solid 4px; 
}
  
@media (min-width: 475px) {}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}
